/*Reset CSS*/
*{
	box-sizing: border-box;
	outline-style: none;
	font-family: sans-serif;
}
/*Generic CSS*/
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-column{
	display: flex; 
	flex-direction: column;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.flex-start{
	justify-content: flex-start;
}
.flex-end{
	justify-content: flex-end;
}
.hidden{
	display: none !important;
}
/*Specific CSS from top to bottom*/
html, body{
	height: 100%;
}
body{
	margin: 0;
}
#splash-screen{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	background-image: url('../img/home');
	background-size: cover;
	z-index: 10;
}
section{
	height: 100%;
	width: 100%;
	background: url('../img/conversationWithoutText.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	align-items: center;
	justify-content: flex-end;
}
/*Chat Output Section CSS*/
#chat-output-section{
	height: 67%;
	overflow-y: scroll;
	width: 100%;
	padding: 0 35px;
}
#chat-output-section::-webkit-scrollbar{
	width: 7px;
}
#chat-output-section::-webkit-scrollbar-thumb{
	border-radius: 10px;
}
.message, #carousal-ctn{
	padding: 10px 0;
}
.bot-msg, .user-msg{
	position: relative;
	padding: 17px 20px;
	min-width: 150px;
	font-size: 14px;
	border-radius: 15px;
	box-shadow: 0 1px 3px 1px #e0e0e0;
	max-width: 88%;
	line-height: 18px;
}
.bot-msg{
	background-color: #fff;
	color: #00357D;
}
.user-msg{
	background-color: #00357D;
	color: #fff;
}
.bot-msg:after, .user-msg:after{
	content: '';
	position: absolute;
	border: 0px solid;
	display: block;
	width: 37px;
	height: 63px;
	background-color: transparent;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.bot-msg:after{
	bottom: -3px;
	left: -45px;
	box-shadow: 2px 16px 0px -4px #fff;
	transform: scaleX(-1) rotate(70deg);
}
.user-msg:after{
	top: -5px;
	right: -45px;
	box-shadow: 2px 16px 0px -4px #00357D;
	transform: rotate(73deg);
}
#carousal-ctn{
	width: 100%;
	overflow-x: auto;
}
.carousal-img-ctn{
	width: 80%;
	min-width: 80%;
	margin: 0 20px 0 0;
}
.last-img-ctn{
	margin: 0;
}
.carousal-img{
	width: 100%;
	border-radius: 15px;
	box-shadow: 0 1px 3px 1px #e0e0e0;
}
/*User Input Section CSS*/
#chat-input-section{
	height: 23%;
	padding: 30px;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}
#user-input-form{
	width: 100%;
}
#user-input{
	width: 70%;
	padding: 10px 15px;
	border: 1px solid #AA996B;
	font-size: 14px;
	border-radius: 2px 0 0 2px;
}
#input-submit-btn{
	border: 1px solid #AA996B;
	background-color: #AA996B;
	color: #fff;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	width: 30%;
	border-radius: 0 2px 2px 0;
}
#user-input::-webkit-input-placeholder{
	font-size: 12px;
	color: #b3b3b3;
}
#user-input::-moz-placeholder{
	font-size: 12px;
	color: #b3b3b3;
}
#user-input:-ms-input-placeholder{
	font-size: 12px;
	color: #b3b3b3;
}
/*Typing Indicator CSS*/
.typing-indicator{
	background-color: #fff;
	will-change: transform;
	display: inline-block;
	border-radius: 50px;
	padding: 10px;
	position: relative;
	-webkit-animation: 2s bulge infinite ease-out;
					animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: -2px;
	height: 6px;
	width: 16px;
	border-radius: 50%;
	background-color: #fff;
}
.typing-indicator span{
	height: 8px;
	width: 8px;
	float: left;
	margin: 0 1px;
	background-color: #9E9EA1;
	display: block;
	border-radius: 50%;
	opacity: 0.4;
}
.typing-indicator span:nth-of-type(1){
	-webkit-animation: 1s blink infinite 0.3333s;
					animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2){
	-webkit-animation: 1s blink infinite 0.6666s;
					animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3){
	-webkit-animation: 1s blink infinite 0.9999s;
					animation: 1s blink infinite 0.9999s;
}
@-webkit-keyframes blink{
	50%{
		opacity: 1;
	}
}
@keyframes blink{
	50%{
		opacity: 1;
	}
}
@-webkit-keyframes bulge{
	50%{
		-webkit-transform: scale(1.05);
						transform: scale(1.05);
	}
}
@keyframes bulge{
	50%{
		-webkit-transform: scale(1.05);
						transform: scale(1.05);
	}
}